<ul>
  <li *ngFor="let personaje of characterList; let i = index;
  let isFirst = first;
  let isLast = last;
  let isEven = even;
  let isOdd = odd"

  class="list-group-item d-flex justify-content-between alig"
  [ngClass]="{
    'list-group-item-primary': isEven,
    'list-group-item-dark': isLast
  }">

  <div>
    <span class="text-success"> {{ i+1 }}. </span>
    <span>{{ personaje.name }}</span>
    -
    <strong>Power: </strong>
    <span>{{ personaje.power }}</span>
  </div>


  <button (click)="emitOnDelete( personaje.id )" class="btn btn-danger">X</button>
  </li>
</ul>
